@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
body,
p,
td,
ol,
ul {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: rem-calc(16);
  line-height: 1.4; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1; }

.logotype.lockup a,
.page.title h1 {
  margin: 0;
  padding-top: 25px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 41px;
  color: white; }

.logotype.lockup a {
  text-decoration: none; }

.form {
  background-color: white; }

fieldset legend {
  margin-bottom: rem-calc(18);
  padding-top: rem-calc(34);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: rem-calc(20);
  font-weight: 600; }

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
  -webkit-box-shadow: none;
          box-shadow: none; }
  [type='text']:active, [type='text']:focus,
  [type='password']:active,
  [type='password']:focus,
  [type='date']:active,
  [type='date']:focus,
  [type='datetime']:active,
  [type='datetime']:focus,
  [type='datetime-local']:active,
  [type='datetime-local']:focus,
  [type='month']:active,
  [type='month']:focus,
  [type='week']:active,
  [type='week']:focus,
  [type='email']:active,
  [type='email']:focus,
  [type='number']:active,
  [type='number']:focus,
  [type='search']:active,
  [type='search']:focus,
  [type='tel']:active,
  [type='tel']:focus,
  [type='time']:active,
  [type='time']:focus,
  [type='url']:active,
  [type='url']:focus,
  [type='color']:active,
  [type='color']:focus,
  textarea:active,
  textarea:focus,
  select:active,
  select:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

input:active, input:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

input.submit {
  margin-bottom: 0; }

textarea {
  min-height: rem-calc(128); }

.radio label,
.checkbox label {
  height: auto !important;
  line-height: rem-calc(20) !important; }

.radio label:after {
  top: 2px !important;
  left: 2px !important;
  width: 17px !important;
  height: 17px !important; }

.radio input[type="radio"]:checked + label:after {
  background-color: #0872a3; }

span.radio {
  display: block; }

.checkbox {
  padding-bottom: rem-calc(20); }
  .checkbox label:after {
    line-height: 1.8;
    color: black; }
  .checkbox input[type="checkbox"]:checked + label:before {
    background-color: #0872a3; }

.instructions {
  font-size: rem-calc(16);
  font-style: italic;
  color: #666666; }
  .instructions.error {
    color: #ef4a24; }

a {
  color: #0872a3; }
  a:hover, a:focus, a:active {
    color: #07618b; }

.nav-tabs {
  border-bottom: 0 none transparent;
  padding-left: 15px; }
  .nav-tabs > .nav-item {
    margin-bottom: 0; }
    .nav-tabs > .nav-item .nav-link {
      margin-right: 10px;
      border: 0 none transparent;
      border-bottom: 8px solid transparent;
      padding: 5px;
      color: #cccccc; }
      .nav-tabs > .nav-item .nav-link:hover, .nav-tabs > .nav-item .nav-link:focus, .nav-tabs > .nav-item .nav-link:active {
        border-bottom-color: #cccccc;
        color: white; }
      .nav-tabs > .nav-item .nav-link.active {
        border-bottom-color: #cccccc;
        color: white;
        background-color: transparent; }
        .nav-tabs > .nav-item .nav-link.active:hover, .nav-tabs > .nav-item .nav-link.active:focus {
          border-bottom-color: #cccccc;
          color: white;
          background-color: transparent; }

.tab-content {
  padding: 20px 0 20px 5px;
  background-color: white; }

.tooltip-arrow {
  border-right-color: #1a1a1a; }

.tooltip-inner {
  padding: 5px 10px;
  max-width: 550px;
  font-size: 14px;
  color: #eeeeee;
  text-align: left;
  background-color: #1a1a1a; }

.fa-info-circle {
  position: relative;
  top: 0;
  left: 3px;
  padding-right: 12px;
  font-size: 16px;
  color: #959595;
  cursor: pointer; }

.hidden {
  display: none; }

.centered {
  text-align: center; }

.no-list-style {
  list-style: none; }

.uppercase {
  text-transform: uppercase; }

.no-transform {
  text-transform: none; }

.navbar.fixed-top,
.header {
  background-color: #1a1a1a; }

.navbar.fixed-top {
  border-bottom: 1px solid #cccccc; }
  .navbar.fixed-top .logotype.lockup {
    border: 1px solid #cccccc;
    border-top: 0 none transparent;
    background-color: #ef4a24; }

.attribute {
  margin-bottom: 20px; }

html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding-top: 87px;
  min-height: 100%;
  background-color: #333333; }

#SiteHeader,
#HeaderContainer {
  padding: 0;
  min-height: 85px; }
  #SiteHeader .row,
  #HeaderContainer .row {
    width: 100%; }
  #SiteHeader .logotype.lockup,
  #SiteHeader .page.title,
  #HeaderContainer .logotype.lockup,
  #HeaderContainer .page.title {
    min-height: 84px; }
  #SiteHeader .logotype.lockup,
  #HeaderContainer .logotype.lockup {
    margin-bottom: -9px;
    min-height: 95px; }
    #SiteHeader .logotype.lockup a,
    #HeaderContainer .logotype.lockup a {
      display: block;
      margin-left: -2px; }
  #SiteHeader .page.title h1,
  #HeaderContainer .page.title h1 {
    margin-left: 3px; }

#MainContentArea #PageContentArea {
  margin: 0;
  padding: 50px 0 0; }

#MainContentArea #Toolbar {
  z-index: 50;
  position: fixed;
  padding-top: 10px; }
