//==============================================================================================
// CALLOUTS
//----------------------------------------------------------------------------------------------
// Defines styles associated with callout blocks.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import '../variables';

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------
.callouts {
  padding-top                   : 20px;
  padding-right                 : 20px;
}

//----------------------------------------------------------------------------------------------
// SPECIFIC CALLOUTS
//----------------------------------------------------------------------------------------------
.callout {
  &.topic-info {
    position                    : fixed;
    border                      : 1px solid $grey-lighter;
    padding                     : 15px;
    width                       : 15%;
    max-width                   : 200px;
    h3,
    dt,
    dd {
      color                     : $grey-medium;
    }
    h3 {
      margin-top                : 0;
      margin-bottom             : 12px;
      font-size                 : 1rem;
      font-weight               : 300;
    }
    dl {
      margin-bottom             : -13px;
      font-size                 : 13px;
      line-height               : 18px;
      dt,
      dd {
        font-weight             : normal;
      }
      dt {
        .fa {
          margin-right          : 5px;
          width                 : 1em;
        }
      }
      dd {
        margin-bottom           : 8px;
        margin-left             : 22px;
      }
    }
  }
}
