//==============================================================================================
// FONTS
//----------------------------------------------------------------------------------------------
// Imports web fonts, such as EOT, WOFF, OTF, etc.
//----------------------------------------------------------------------------------------------
// NOTE: Font styles should be defined in _typography.scss.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');