//==============================================================================================
// LINKS
//----------------------------------------------------------------------------------------------
// Defines common styles for linked elements.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "../variables";

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------
a {
  color                         : $link-color;
  text-decoration               : unset;
  &:hover,
  &:focus,
  &:active {
    color                       : rgb(7, 97, 139);              // #07618B
  }
}

//----------------------------------------------------------------------------------------------
// CONTENT AREA
//----------------------------------------------------------------------------------------------