//==============================================================================================
// LISTS
//----------------------------------------------------------------------------------------------
// Defines styles for list elements.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "../variables";

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// ATTRIBUTE BLOCKS
//----------------------------------------------------------------------------------------------
.attribute > .fields > ul {
  list-style: unset;
  list-style-type: none;
  padding-left: 15px;
  font-size: 13px;

  > li {
    list-style-position: inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 6px;

    &:before {
      content: "–";
      text-indent: -5px;
      padding-right: 10px;
    }
  }
}
