//==============================================================================================
// TYPOGRAPHY
//----------------------------------------------------------------------------------------------
// Overrides type-related settings such as default fonts, headings, and common text-related
// styles, such as .error.
//----------------------------------------------------------------------------------------------
// NOTE: Font imports should be placed in the _fonts.scss file.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// VARIABLES
//----------------------------------------------------------------------------------------------
@import "../variables";

//----------------------------------------------------------------------------------------------
// DEFAULTS
//----------------------------------------------------------------------------------------------
body,
p,
td,
ol,
ul {
  font-family                   : $base-font-family;
  font-size                     : rem-calc(16px);
  line-height                   : 1.4;
}

//----------------------------------------------------------------------------------------------
// HEADINGS
//----------------------------------------------------------------------------------------------
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom                 : 0;
  font-family                   : $heading-font-family;
  font-weight                   : $heading-font-weight;
  line-height                   : 1.1;
}
.logotype.lockup a,
.page.title {
  margin                        : 0;
  padding-top                   : 25px;
  font-family                   : $heading-font-family;
  font-size                     : 34px;
  font-weight                   : 300;
  line-height                   : 41px;
  color                         : $white;
  h2 {
    padding-top                 : 0px;
    font-size                   : 28px;
  }
}
.logotype.lockup a {
  text-decoration               : none;
}

//----------------------------------------------------------------------------------------------
// GLOBAL CLASSES
//----------------------------------------------------------------------------------------------
