@model AttributeViewModel

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
}

<div class="form-check form-check-inline">
  <label class="form-check-label">
    @Html.RadioButtonFor(m => m.Value, "Default", new { id = "DisplayOptions_" + Model.AttributeDescriptor.Key + "_Default", @class = "form-check-input" }) Default
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    @Html.RadioButtonFor(m => m.Value, "Desktop", new { id = "DisplayOptions_" + Model.AttributeDescriptor.Key + "_Desktop", @class = "form-check-input" }) Desktop Only
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    @Html.RadioButtonFor(m => m.Value, "Mobile", new { id = "DisplayOptions_" + Model.AttributeDescriptor.Key + "_Mobile", @class = "form-check-input" }) Mobile Only
  </label>
</div>
