@model AttributeViewModel<RelationshipAttributeTopicViewModel>

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
  var rootTopicKey = Model.AttributeDescriptor.RootTopicKey?.Replace(":", "/") ?? Model.AttributeDescriptor.RootTopic?.UniqueKey ?? "Root";
}

<input asp-for="Value" type="hidden" />
<div id="@ViewData.TemplateInfo.GetFullHtmlFieldName("TreeView")"></div>

<script type="text/javascript">
  Ext.onReady(function(){
    var Tree            = Ext.tree;
    var Storage         = Ext.get("@Html.IdFor(m => m.Value)");
    var relationships   = Storage.dom.value.split(",");

    tree = new Tree.TreePanel({
      id                : 'relatedTree',
      useArrows         : true,
      autoScroll        : true,
      animate           : true,
      enableDD          : false,
      containerScroll   : true,
      border            : false,
      baseCls           : 'RelationshipsTreeView',
      dataUrl           : '/OnTopic/Json/@rootTopicKey?ShowRoot=@Model.AttributeDescriptor.ShowRoot&ShowAll=true&RelatedNamespace=@Model.AttributeDescriptor.Key&RelatedTopicID=@Model.TopicId&AttributeName=@Model.AttributeDescriptor.AttributeKey&AttributeValue=@Model.AttributeDescriptor.AttributeValue',
      root              : new Ext.tree.AsyncTreeNode({
        checked         : true,
        text            : 'Web',
        draggable       : false,
        id              : 'related',
        leaf            : false
      }),
      rootVisible       : false,
      listeners         : {
        click           : function(node) {
          node.checked  = true;
          node.select();
          return true;
        },
        checkchange     : function(node, checked) {
          if (checked) {
            relationships.push(node.attributes.id);
          }
          else {
            relationships.remove(node.attributes.id);
          }
          Storage.dom.value = relationships.concat(",");
          @(Model.AttributeDescriptor.CheckAscendants is true? "" : "return true")
          if (checked && node.parentNode) node.parentNode.getUI().toggleCheck(true);
        }
      }
    });
    tree.render('@ViewData.TemplateInfo.GetFullHtmlFieldName("TreeView")');

  });
</script>