@model LastModifiedAttributeViewModel

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
}

<div class="label">
  @Model.CurrentValue
</div>

@Html.HiddenFor(m => m.Value, new { @value = DateTime.Now.ToString() })