@model IncomingRelationshipAttributeViewModel

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
}

<ul>
  @foreach(var relatedTopic in Model.RelatedTopics) {
    <li><a href="@Url.Action("Edit", new { path = relatedTopic.WebPath })">@relatedTopic.Title</a></li>
  }
</ul>