@model FileListAttributeViewModel

@{
  Layout = "~/Views/Editor/Components/_Layout.cshtml";
}

@if (Model.Files.Count > 0) {
  <select
    asp-for                       ="Value"
    asp-items                     =@Model.Files
    disabled                      =@(!Model.AttributeDescriptor.IsEnabled)
    required                      =@Model.AttributeDescriptor.IsRequired
  >
  </select>
}

else {
  <input type="hidden" asp-for="Value" />
  <span class="instructions error">The file location '@Model.AbsolutePath' could not be located, so the file list is not being displayed.</span>
}