@model TopicLookupAttributeViewModel

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
}

@if (Model.TopicList.Count > 2) {
  <select asp-for="Value" asp-items="Model.TopicList" class="FormField Field"></select>
}

@if (Model.TopicList.Count <= 2 && !String.IsNullOrEmpty(Model.Options.TargetUrl)) {
  <div class="ChildTopic">
    <!-- @Model.Options.Label -->
    @if (Model.Options.TargetPopup is false) {
      </a>
    }
  </div>
}
