//==============================================================================================
// LAYOUT
//----------------------------------------------------------------------------------------------
// Provides structural definitions for the site's layout, such grids, dimensions, positioning,
// z-indexes, margins, and padding.
//----------------------------------------------------------------------------------------------
// IMPORTANT: Skinning attributes such as font size, color, backgrounds, and gradients should
// not be defined in layout; these should be handled elsewhere (e.g., /Base) to maintain
// separation of concerns.
//----------------------------------------------------------------------------------------------
// NOTE: Since layout sections often map to exclusive parts of a page, it is acceptable to
// use #ID selectors here (and ONLY here).
//----------------------------------------------------------------------------------------------
// NOTE: Layouts in this file should be migrated to individual files under /Layout and imported
// if they get too long (say, over 10 selectors).
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "../variables";

//----------------------------------------------------------------------------------------------
// DOCUMENT
//----------------------------------------------------------------------------------------------
html {
  height                        : 100%;
}
body {
  position                      : relative;
  margin                        : 0;
  padding-top                   : 87px;
  min-height                    : 100%;
  background-color              : $grey-dark;
}

//----------------------------------------------------------------------------------------------
// HEADER
//----------------------------------------------------------------------------------------------
#SiteHeader,
#HeaderContainer {
  padding                       : 0;
  min-height                    : 85px;
  .row {
    width                       : 100%;
  }
  .logotype.lockup,
  .page.title {
    min-height                  : 84px;
  }
  .logotype.lockup {
    margin-bottom               : -9px;
    min-height                  : 95px;
    a {
      display                   : block;
      margin-left               : -2px;
    }
  }
  .page.title {
    h1 {
      margin-left               : 3px;
    }
  }
}

//----------------------------------------------------------------------------------------------
// NAVIGATION
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// PRIMARY CONTENT AREA
//----------------------------------------------------------------------------------------------
#MainContentArea {
  padding                       : 0;
  #PageContentArea {
    margin                      : 0;
    padding                     : 50px 0 0;
  }
  #Toolbar {
    z-index                     : 50;
    position                    : fixed;
    padding-top                 : 10px;
    .buttons {
      float                     : right;
      margin-top                : -2px;
      padding                   : 0 8px;
    }
  }
  #FormArea {
    margin                      : 0;
  }
}
