@model BooleanAttributeViewModel

@{
  Layout = "~/Views/Editor/Components/_Layout.cshtml";
}

<div class="@Model.AttributeDescriptor.CssClass form-check form-check-inline">
  <label class="form-check-label">
    <input type="radio" asp-for="Value" value="1" class="form-check-input" checked=@Model.IsTrue() disabled=@(!Model.AttributeDescriptor.IsEnabled) required=@Model.AttributeDescriptor.IsRequired /> Yes
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input type="radio" asp-for="Value" value="0" class="form-check-input" checked=@Model.IsFalse() disabled=@(!Model.AttributeDescriptor.IsEnabled) required=@Model.AttributeDescriptor.IsRequired /> No
  </label>
</div>