//==============================================================================================
// UTILITIES
//----------------------------------------------------------------------------------------------
// Provides centralized, reusable selectors and corresponding treatments for commonly-needed
// style applications.
//----------------------------------------------------------------------------------------------
// NOTE: These selectors may be used within the site's HTML or in the Sass by invoking them
// via the @extend [.selector] directive.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// DISPLAY
//----------------------------------------------------------------------------------------------
.hidden {
  display                       : none;
}

//----------------------------------------------------------------------------------------------
// POSITIONING
//----------------------------------------------------------------------------------------------
.centered {
  text-align                    : center;
}

//----------------------------------------------------------------------------------------------
// ELEMENTS
//----------------------------------------------------------------------------------------------
.no-list-style {
  list-style                    : none;
}

//----------------------------------------------------------------------------------------------
// TEXT
//----------------------------------------------------------------------------------------------
.uppercase {
  text-transform                : uppercase;
}

.no-transform {
  text-transform                : none;
}
