//==============================================================================================
// VARIABLES
//----------------------------------------------------------------------------------------------
// Primary customization point for making expected modifications to the site.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// COLORS
//----------------------------------------------------------------------------------------------

// Base / palette colors
$black                          : rgb(0, 0, 0);                 // #000000
$black-light                    : rgb(26, 26, 26);              // #1A1A1A
$white                          : rgb(255, 255, 255);           // #FFFFFF
$grey-dark                      : rgb(51, 51, 51);              // #333333
$grey-medium                    : rgb(102, 102, 102);           // #666666
$grey-light                     : rgb(149, 149, 149);           // #959595
$grey-lighter                   : rgb(204, 204, 204);           // #CCCCCC
$grey-lightest                  : rgb(238, 238, 238);           // #EEEEEE
$red                            : rgb(239, 74, 36);             // #EF4A24
$blue                           : rgb(9, 164, 212);             // #09A4D4

// Text
$text-color                     : $grey-dark;
$link-color                     : rgb(8, 114, 163);             // #0872A3

// UI elements
$button-primary                 : $blue;

//----------------------------------------------------------------------------------------------
// TYPOGRAPHY
//----------------------------------------------------------------------------------------------
$base-font-family               : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family            : $base-font-family;
$heading-font-weight            : 300;

//----------------------------------------------------------------------------------------------
// BASE/GENERAL
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// LAYOUT
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// COMPONENTS
//----------------------------------------------------------------------------------------------