@model AttributeViewModel<InstructionAttributeTopicViewModel>

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
}

<div class="label">
  <div class="alert alert-warning" role="alert">
    @Html.Raw(@Model.AttributeDescriptor.Instructions)
  </div>
</div>

<input type="hidden" asp-for="Value" />