@model LastModifiedByAttributeViewModel

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
}

<div class="label">
  @Model.CurrentValue
</div>

<input type="hidden" asp-for="Value" />