@model AttributeViewModel<AttributeDescriptorTopicViewModel>

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
}

<div class="@Model.AttributeDescriptor.CssClass form-check form-check-inline">
  <label class="form-check-label">
    <input type="radio" asp-for="Value" value="Default" class="form-check-input" disabled=@(!Model.AttributeDescriptor.IsEnabled) required=@Model.AttributeDescriptor.IsRequired /> Default
  </label>
</div>
<div class="@Model.AttributeDescriptor.CssClass form-check form-check-inline">
  <label class="form-check-label">
    <input type="radio" asp-for="Value" value="Desktop" class="form-check-input" disabled=@(!Model.AttributeDescriptor.IsEnabled) required=@Model.AttributeDescriptor.IsRequired /> Desktop
  </label>
</div>
<div class="@Model.AttributeDescriptor.CssClass form-check form-check-inline">
  <label class="form-check-label">
    <input type="radio" asp-for="Value" value="Mobile" class="form-check-input" disabled=@(!Model.AttributeDescriptor.IsEnabled) required=@Model.AttributeDescriptor.IsRequired /> Mobile
  </label>
</div>