@model LastModifiedByAttributeViewModel

@{
  Layout = "~/Areas/Editor/Views/Editor/Components/_Layout.cshtml";
}

<div class="label">
  @Model.CurrentValue
</div>

@Html.HiddenFor(m => m.Value, new { @value = Context.User.Identity.Name })