//==============================================================================================
// BASE CLASSES
//----------------------------------------------------------------------------------------------
// Provides global overrides for standard HTML elements based on element, attribute, and single-
// class selectors. Selectors in this section should never be nested more than two layers deep.
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "fonts";
@import "typography";
@import "forms";
@import "links";
@import "icons";
@import "buttons";
@import "tabs";
@import "tooltips";
@import "utilities";

//----------------------------------------------------------------------------------------------
// HEADER AREA ELEMENTS
//----------------------------------------------------------------------------------------------
.navbar.fixed-top,
.header {
  background-color              : $black-light;
}
.navbar.fixed-top {
  border-bottom                 : 1px solid $grey-lighter;
  .logotype.lockup {
    border                      : 1px solid $grey-lighter;
    border-top                  : 0 none transparent;
    background-color            : $red;
  }
}

//----------------------------------------------------------------------------------------------
// MAIN CONTENT AREA ELEMENTS
//----------------------------------------------------------------------------------------------
main {
}

//----------------------------------------------------------------------------------------------
// ATTRIBUTE BLOCKS
//----------------------------------------------------------------------------------------------
.attribute {
  margin-bottom                 : 20px;
}
