//==============================================================================================
// FORMS
//----------------------------------------------------------------------------------------------
// Defines global styles for form related elements, such as inputs.
//----------------------------------------------------------------------------------------------
// NOTE: Font styles should be defined in _typography.scss.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
// @import "../Vendor/RedCastor/awesome-foundation6-checkbox";
@import '../variables';

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------
.form {
  background-color              : $white;
}

//----------------------------------------------------------------------------------------------
// FIELDSET
//----------------------------------------------------------------------------------------------
fieldset {
  legend {
    margin-bottom               : rem-calc(18);
    padding-top                 : rem-calc(34);
    font-family                 : $heading-font-family;
    font-size                   : rem-calc(20);
    font-weight                 : 600;
  }
}

//----------------------------------------------------------------------------------------------
// LABELS
//----------------------------------------------------------------------------------------------
label, .label {
}

//----------------------------------------------------------------------------------------------
// INPUT
//----------------------------------------------------------------------------------------------
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
  box-shadow                    : none;
  &:active,
  &:focus {
    box-shadow                  : none;
  }
}

input {
  &:active,
  &:focus {
    box-shadow                  : none;
  }
  &:hover {
  }
  &.submit {
    margin-bottom               : 0;
  }
}

textarea {
  min-height                    : rem-calc(128);
}

//----------------------------------------------------------------------------------------------
// FANCY INPUTS (radio buttons, checkboxes)
//----------------------------------------------------------------------------------------------
.radio,
.checkbox {
  label {
    height                      : auto !important;
    line-height                 : rem-calc(20) !important;
    &:before {
    }
  }
  input[type="radio"],
  input[type="checkbox"] {
    &:checked {
      + label {
        &:before {
        }
      }
    }
  }
}
.radio {
  label {
    &:after {
      top                       : 2px !important;
      left                      : 2px !important;
      width                     : 17px !important;
      height                    : 17px !important;
    }
  }
  input[type="radio"] {
    &:checked {
      + label:after {
        background-color        : $blue;
      }
    }
  }
}
span.radio {
  display                       : block;
}
.checkbox {
  padding-bottom                : rem-calc(20);
  label {
    &:after {
      line-height               : 1.8;
      color                     : $black;
    }
  }
  input[type="checkbox"] {
    &:checked {
      + label {
        &:before {
          background-color      : $blue;
        }
      }
    }
  }
}

//----------------------------------------------------------------------------------------------
// BUTTONS
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// VALIDATION
//----------------------------------------------------------------------------------------------
label {
}
.alert {
}

//----------------------------------------------------------------------------------------------
// SUPPORTING STYLES
//----------------------------------------------------------------------------------------------
.instructions {
  font-size                     : rem-calc(16);
  font-style                    : italic;
  color                         : $grey-medium;
  &.error {
    color                       : $red;
  }
}
