@model Ignia.Topics.Editor.Models.EditorViewModel

@{
  ViewBag.Title = "Home Page";
}

@using (Html.BeginForm()) {

  @Html.Partial("_Toolbar")

  int index = 0;
  <div id="DisplayGroupTabsContent" class="tab-content">
    @foreach (string category in Model.ContentType.SupportedAttributes.Select(a => a.DisplayGroup).Distinct()) {

      var supportedAttributes = Model.ContentType.SupportedAttributes.Where(a => a.DisplayGroup.Equals(category));
      var displayGroup = category.Replace(" ", "");

      <div id="Group_@displayGroup" class="tab-pane fade@(index == 0 ? " show active" : "")" role="tabpanel" aria-labelledby="Tab_@displayGroup">
        <section id="@category.Replace(" ", "-")">

          @for (int i = 0; i < supportedAttributes.Count(); i++) {

            var attribute = supportedAttributes.ElementAt(i);
            var attributeViewModel = new AttributeViewModel(attribute, Model.Topic, Model.TopicRepository);
            var type = attribute.Type.Replace(".ascx", "");

            if (attribute.Attributes.GetValue("IsHidden", "0").Equals("1")) {
              continue;
            }

            @Html.EditorFor(m => attributeViewModel, type, "Attributes[" + i + "]")

          }

        </section>
      </div>

      index++;
    }
  </div>

  <input type="submit" value="Save" />

}