@model Ignia.Topics.Editor.Models.EditorViewModel

@{
  ViewBag.Title = "Home Page";
}

<h1>@Model.Topic.Title</h1>

@using (Html.BeginForm()) {

  @Html.EditorForModel()
  <input type="submit" value="Save" />

}
